@model IEnumerable<WebAppGrid.Models.Person>
@using GridMvc.Html

@{
    ViewBag.Title = "Index Demo of Grid.MVC component";
}

<div class="row">
    <div class="col-md-12">
        @Html.Grid(Model).Named("PeopleGrid").Columns(c =>
   {
       c.Add(x => x.Name).Titled("Name").Filterable(true).Sortable(true);
       c.Add(x => x.Age).Titled("Age").Filterable(true).Sortable(true);
       c.Add(x => x.DOB).Titled("Date of Birth").Filterable(true).Sortable(true);
       //c.Add(x => x.HasKids).Titled("Has Kids").Filterable(true).Sortable(true);  // display as true-false text
       c.Add(x => x.HasKids).Titled("Has Kids").Filterable(true).Encoded(false).Sanitized(false).SetWidth(20).RenderValueAs(o => Html.CheckBox("cb" + o.Id, o.HasKids));

       c.Add().Titled("Select To Delete").Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(o => Html.CheckBox("cbd" + o.Id, false, new { name = "selectedIds", value = o.Id, OnClick = "pageIndex.toStorage(this,'" + o.Id + "');" }));
       //c.Add().Titled("<input name='allChk' type='checkbox'/>").Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(o => Html.CheckBox("checked", false, new { name = "selectedIds", value = o.Name, OnClick = "selectedCheckbox(this,'" + o.Name + "');" }));

   }).WithPaging(5).EmptyText("No data found")

        @*.Filterable(true).WithMultipleFilters()*@
    </div>

</div>

@Styles.Render("~/Content/Gridmvc")

@section scripts{
    @Scripts.Render("~/bundles/Gridmvc")
    <script src="~/Scripts/Home/index.js"></script>
}

